@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.f1 {
    font-family: 'Pacifico', cursive;
}
.f2 {
    font-family: 'Playfair Display', serif;
}
.f3 {
    font-family: 'Rajdhani', sans-serif;
}
.f4 {
    font-family: 'Amatic SC', cursive;
}

@media screen and (min-width: 601px) {
    .f5 {
        font-family: 'Cinzel', serif;
        font-size: 70px;
    }
}

@media screen and (max-width: 600px) {
    .f5 {
        font-family: 'Cinzel', serif;
        font-size: 45px;
    }
}

.sans {
    font-family: 'Open Sans', sans-serif;
}
.logo {
    color: #db3110 !important;
}
.cc {
    color: #303c3c !important;
}
body {
    /*background-color: #f8dfc9;*/
}
.ck-editor__editable {
    min-height: 200px !important;
}
.now {
    color: white;
    background-color: #db3110 !important;
}
#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

.formbox {
    border: none;
    border-radius: 0;
    border-bottom: 2px #db3110 solid;
}
.angelButton {
    color: white;
    background-color: #8ad1de;
    max-height:600px;
    transition: 0.3s;
}
.angelButton:hover {
    color: white;
    background-color: #68c7d9;
}
.mortalButton {
    color: white;
    background-color: #F3BEC0;
    max-height:700px;
    transition: 0.3s;
}
.mortalButton:hover {
    color: white;

    background-color: #e8a2a5;
}
.timer {
    color: white;
    background-color: #9A000C;
    border-radius: 20px;
}
