{% extends "secret/base.html" %}
{% load static %}

{% block title %}
Secret Santa | Account
{% endblock %}
{% block body %}
<script type="text/javascript">
    $(document).ready(function () {

        ClassicEditor
            .create(document.querySelector('#des'), {
                toolbar: ['bold', 'italic', 'link'],
            })
            .catch(error => {
                console.log(error);
            })
    });
</script>
<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
        {% endif %}
        <form action="{% url 'account' %}" method="post">
            {% csrf_token %}
            <div class="mt-4 form-group">
                <h1 class="f6">Change your bio</h1>
                <h5 class="f7 mb-3">Tell about yourself to your futre secret santa! (Ex. what you like, facts that your classmates might know about...)</h5>
                <textarea class="form-control ck-editor__editable" id="des" name="description" placeholder="Describe yourself here...">{{ user.description }}</textarea>
            </div>
            <button class="btn btn-danger btn-lg" type="submit" name="button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
