{% extends "secret/base.html" %}
{% load static %}

{% block title %}
Secret Santa | Index
{% endblock %}

{% block body %}
<script>
    $(document).ready(function () {

        ClassicEditor
            .create(document.querySelector('#content'), {
                toolbar: ['bold', 'italic', 'link'],
            })
            .catch(error => {
                console.log(error);
            })
    });

    // Set the date we're counting down to
    var countDownDate = new Date("Dec 14, 2020 13:30:00 UTC+0530").getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("clock").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";

    // If the count down is finished, write some text
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("clock").innerHTML = "NOW";
        }
    }, 1000);

    document.addEventListener('DOMContentLoaded', function(){
    var script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js';
    script.onload = function(){
        particlesJS("snow", {
            "particles": {
                "number": {
                    "value": 200,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "opacity": {
                    "value": 0.7,
                    "random": false,
                    "anim": {
                        "enable": false
                    }
                },
                "size": {
                    "value": 5,
                    "random": true,
                    "anim": {
                        "enable": false
                    }
                },
                "line_linked": {
                    "enable": false
                },
                "move": {
                    "enable": true,
                    "speed": 0.75,
                    "direction": "bottom",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": true,
                        "rotateX": 300,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "events": {
                    "onhover": {
                        "enable": false
                    },
                    "onclick": {
                        "enable": false
                    },
                    "resize": false
                }
            },
            "retina_detect": true
        });
    }
    document.head.append(script);
});
</script>
<div id="snow"></div>
<div class="row mb-5">
    {% if request.user.is_authenticated %}
        <!--
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="f6">Your Group: {{ user.groups }}</h2>
                    <h2 class="f6">Your Mortal: {{ user.mortal }}</h2>
                </div>
            </div>
        </div>
        -->
        {% if group.start == 1 %}
        <div class="col-12 col-lg-6 mb-3 animate__animated animate__fadeInLeft">
            <a class="btn btn-block angelButton f2" href="{% url 'new' %}" role="button"><h1 class="f5 mt-4">ANGELS</h1><h3 class="f3">Write a letter to your Mortal ({{ user.mortal.first_name }} {{ user.mortal.last_name }})</h3><img class="img-fluid" src="{% static 'secret/angel.png' %}" alt=""></a>
        </div>
        <div class="col-12 col-lg-6 animate__animated animate__fadeInRight">
            <a class="btn btn-block mortalButton f2" href="{% url 'mortal' %}" role="button"><h1 class="f5 mt-4">MORTALS</h1><h3 class="f3">See your letters from your Secret Santa</h3><img class="img-fluid" src="{% static 'secret/mortal.png' %}" alt=""></a>
        </div>
        {% else %}
        <div class="animate__animated animate__fadeIn animate__slower col-12">
            <div class="mt-4 card shadow-lg timer text-center">
                <div class="card-body">
                    <img src="{% static 'secret/timer.png' %}" class="img-fluid" alt="">
                    <h1 class="f5">Starting in</h1>
                    <h1 class="f5" id="clock"></h1>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
    <div class="col-12 text-center animate__animated animate__fadeIn animate__slower">
        <img class="img-fluid" src="{% static 'secret/tree.png' %}" alt="tree">
    </div>
    <div class="col-12 text-center">
        <h1 class="cc f5 mt-5 mb-3">WHO'S YOUR SECRET SANTA?</h1>
        <p class="cc sans my-3 mx-5">Write a letter as a Secret Santa to your randomly assigned classmate!</p>
        <a href="{% url 'login' %}" class="btn now btn-lg f2 mt-3">SIGN UP NOW <i class="fas fa-arrow-right"></i></a>
    </div>
    {% endif %}

    <!--

    <div class="col-12">
        <textarea class="form-control ck-editor__editable" name="content" id="content" aria-describedby="contentHelp"
            placeholder="What do you want to achieve?" required>
        </textarea>
    </div>
    -->
</div>
{% endblock %}
