{% extends "secret/base.html" %}
{% load static %}

{% block title %}
Secret Santa | Getting Started
{% endblock %}
{% block body %}
<script type="text/javascript">
    $(document).ready(function () {

        ClassicEditor
            .create(document.querySelector('#des'), {
                toolbar: ['bold', 'italic', 'link'],
            })
            .catch(error => {
                console.log(error);
            })
    });
</script>
<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <h2 class="f4">Getting Started...</h2>
        {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
        {% endif %}
        <form action="{% url 'init' %}" method="post">
            {% csrf_token %}
            <div class="mt-4 form-group">
                <h1 class="f6">What is your GROUP-CODE?</h1>
                <input type="text" class="form-control form-control-lg" name="code" maxlength="5" onkeyup="this.value = this.value.toUpperCase();" required placeholder="Copy your Group-Code here...">
                <small class="form-text text-muted">It should have 5 letters or numbers</small>
            </div>
            <div class="mt-5 form-group">
                <h1 class="f6">Who are you?</h1>
                <h5 class="f7 mb-3">Tell about yourself to your futre secret santa! (Ex. what you like, facts that your classmates might know about...) This will be shown to your Secret Santa.</h5>
                <textarea class="form-control ck-editor__editable" id="des" name="description" placeholder="Describe yourself here..."></textarea>
            </div>
            <button class="btn btn-danger btn-lg" type="submit" name="button">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
