{% extends "secret/base.html" %}
{% load static %}

{% block title %}
Secret Santa | Sign in
{% endblock %}
{% block body %}
<div class="row mt-4 px-3 animate__animated animate__fadeInUp">
    <div class="col-12 col-lg-4 mx-auto bg-white shadow-lg">
        <div class="px-3 py-5 text-left">
            <h1 class="mt-2 text-center cc f4">Sign-in</h1>
            {% if message %}
            <div class="alert alert-danger mt-2 mb-2 py-1" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <form action="{% url 'login' %}" class="mt-3" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control formbox" id="username"
                        placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control formbox"
                        placeholder="Password" required>
                </div>
                <button type="submit" value="Login" class="mt-4 btn now btn-block py-2 shadow">Sign in</button>
            </form>
            <form class="mt-n1" action="">
                <button type="submit" value="Login" class="mt-3 btn btn-light btn-block shadow" style="background-color: white;"><img src="{% static 'secret/g-logo.png' %}" alt="Google" height="25px;"> Sign in with Google</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
