{% load static %}
<nav class="navbar navbar-expand-lg navbar-light mt-4">
    <a class="navbar-brand f1 logo" href="{% url 'index' %}"><h2>Secret Santa {% if group %}<span class="text-dark">{{ group }}</span>{% endif %}</h2></a>
    {% if request.user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'account' %}">Account</a>
          {% if request.user.is_staff %}
          <a class="dropdown-item" href="{% url 'mod' %}">Mod</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
        </div>
        </li>
    </ul>
    </div>
    {% else %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'login' %}"><img src="{% static 'secret/account.png' %}" alt="" height="40px"></a>
        </li>
    </ul>
    {% endif %}
</nav>
