{% extends "secret/base.html" %}
{% load static %}

{% block title %}
Secret Santa | Write a letter
{% endblock %}
{% block body %}
<script type="text/javascript">
    $(document).ready(function () {

        ClassicEditor
            .create(document.querySelector('#cont'), {
                toolbar: ['bold', 'italic', 'link'],
            })
            .catch(error => {
                console.log(error);
            })
    });
</script>
<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        {% if message %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
        {% endif %}
        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            <div class="mt-4 form-group">
                <h1 class="f6">Write to {{ mortal.user.first_name }} {{ mortal.user.last_name }}</h1>
                <h5 class="f7 mb-3">Write <b>something nice</b> to your mortal for this Christmas! Try not to reveal your identity while writing this letter. (Note! that you will be revealed to your mortal at the end of Secret Santa)</h5>
                <h5 class="f7 font-weight-bold">Their bio:</h5>
                <h5 class="f7 mb-3">{{ mortal.description|safe }}</h5>
                <textarea class="form-control ck-editor__editable" id="cont" name="content" maxlength="2000" placeholder="Write your letter here..."></textarea>
            </div>
            <button class="btn btn-danger btn-lg" type="submit" name="button">Submit</button>
        </form>
        <h1 class="f6 mt-4">Sent Letters</h1>
        <div class="mb-4">
            {% for x in letter %}
            <button class="btn btn-light btn-block d-flex justify-content-between px-3 border" type="button" data-toggle="collapse" data-target="#Day{{ forloop.counter }}" aria-expanded="false">
            {{ x.date }} <i class="fa fa-chevron-down my-auto"></i>
            </button>
            <div class="collapse bg-white" id="Day{{ forloop.counter }}">
                <div class="card">
                    <div class="card-body f7">
                        {{ x.content|safe }}
                        <p>From your Secret Santa</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
